.issue-wrapper {
  height: 100%;
}

.issue-title-subbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.issue-number {
  font-family: var(--font-heading);
  margin-left: 2rem;
  font-size: 2.1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.44);
}

.issue-wrapper .project-heading-box {
  margin-top: 4rem;
  margin-bottom: 8rem;
  flex-wrap: wrap-reverse;
}

.issue-detail {
  font-size: 2.1rem;
  font-weight: 400;
}

.issue-detail:first-child {
  margin-right: 0.5rem;
}

.issue-name-box {
  width: max-content;
}

.issue-type-box {
  margin: 2rem 0 0;
  display: flex;
  align-items: center;
}

.issue-type-group:not(:first-child) {
  margin-left: 2rem;
}

.issue-type-group {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
}
.issue-type-group .capsule {
  margin: 0 0 0 1rem;
  font-weight: 400;
}

.issue-type-group h3 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--font-text);
}

.issue-action-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 0.6rem;
}

.issue-action-btn-green {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.issue-action-btn-green:hover {
  background-color: var(--color-green);
  color: white;
}

.issue-action-btn-red {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.issue-action-btn-red:hover {
  background-color: var(--color-red);
  color: white;
}

.issue-action-btn svg {
  height: 2.3rem;
  width: 2.3rem;
}

.issue-type-box .issue-action-btn:first-of-type {
  margin-left: auto;
}

.issue-action-btn:not(:last-child) {
  margin-right: 1rem;
}

.issue-description {
  font-weight: 400;
  font-size: 2.3rem;
  margin: 1.5rem 0 8rem;
}

.issue-wrapper .responsive-table {
  margin-top: 5rem;
}

.issue-table {
  width: 98%;
  margin: 0 auto 8rem;
}

.unassign-btn {
  cursor: pointer;
  color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: center;
}

.unassign-btn svg {
  margin-left: 0.8rem;
}

.issue-manage-group {
  margin-top: 3rem;
  padding-bottom: 4rem;
}

.issue-manage-group p:first-of-type {
  font-size: 2.1rem;
  margin-top: 0.5rem;
}

.close-issue-btn {
  font-size: 2rem;
  border-radius: 3px;
  margin-top: 2rem;
  color: white;
  background-color: var(--color-green);
  width: max-content;
  cursor: pointer;
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
}

.close-issue-btn svg {
  margin-left: 0.5rem;
}
